<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="orderLine">
      <h2 data-cy="orderLineDetailsHeading"><span>Order Line</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ orderLine.id }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ orderLine.quantity }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ orderLine.price }}</span>
        </dd>
        <dt><span>Order</span></dt>
        <dd>
          <div *ngIf="orderLine.order">
            <a [routerLink]="['/order', orderLine.order?.id, 'view']">{{ orderLine.order?.id }}</a>
          </div>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="orderLine.product">
            <a [routerLink]="['/product', orderLine.product?.id, 'view']">{{ orderLine.product?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/order-line', orderLine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
